*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dangnhap{
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.dangnhap li a{
    color: aliceblue;
    line-height: 60px;
    text-decoration: none;
}
ul li a{
    color: aliceblue;
}
.dangnhap li a:hover{
    color: gray;
}

.nav-item a:hover{
    color: grey;
}